<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792979278445-5stjofea62krhfu54sdokj6ep2k8tvfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792979278445-5stjofea62krhfu54sdokj6ep2k8tvfn</string>
	<key>API_KEY</key>
	<string>AIzaSyCGOozxE6urYUqdxIfsjh5X1k_P4QZDOsc</string>
	<key>GCM_SENDER_ID</key>
	<string>792979278445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fikirverse.fikirverse</string>
	<key>PROJECT_ID</key>
	<string>fikirverse-425a9</string>
	<key>STORAGE_BUCKET</key>
	<string>fikirverse-425a9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792979278445:ios:4e13d4181574adadd00d64</string>
</dict>
</plist>